<p class="time">
  <span style="color: #3B5998;"><strong>Title:</strong></span>
  <%= @cannedmessage.title %>
</p>
 
<p class="time">
  <span style="color: #3B5998;"><strong>Message:</strong></span>
  <%= @cannedmessage.message %>
</p>