.title_canned {
	margin-top: 10px;
	margin-bottom: 3px;
	margin-left: 20px;
	color: #3B5998; 
	font-family: sans-serif; 
	font-size: 20px; 
	font-weight: bold;
}

.messages {
	font-family: sans-serif; 
	font-size: 15px;
	margin-left: 20px;
}

.messages th {
	font-weight: bold;
	font-size: 17px;
	color: #3B5998;
	padding: 5px;
	border-bottom: 3px solid #3B5998;
}

.messages td {
	margin-right: 10px;
	border-bottom: 1px solid #cccccc;
}

label {
	font-family: sans-serif; 
	font-size: 15px;
}