#facts tr:hover {
    background-color: #ccc;
	cursor: pointer;
}

#facts {
		margin-top: 5px;
}

.title_write {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #3B5998; 
	font-family: sans-serif; 
	font-size: 25px; 
	font-weight: bold;
}

.title_facts {
	margin-top: 10px;
	margin-bottom: 3px;
	color: #3B5998; 
	font-family: sans-serif; 
	font-size: 20px; 
	font-weight: bold;
}

textarea {
	border: none;
	background: #F7F7F7;
	width: 60%;
}

table {
	font-family: sans-serif; 
	font-size: 15px;
}

.tip{
	color: gray; 
	font-family: sans-serif; 
	font-size: 15px; 
	font-style: italic;
}


input, select {
	outline: none;
	background-image: url(https://s-static.ak.fbcdn.net/rsrc.php/v1/yi/r/Ce0Xa8hRU2A.png);
	background-repeat: no-repeat;
	background-position: -352px -348px;
	background-color: #EEE;
	border: 1px solid #999;
	border-bottom-color: #888;
	-webkit-box-shadow: 0 1px 0 
	rgba(0, 0, 0, .1);
	cursor: pointer;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	line-height: 13px;
	padding: 4px 10px;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	white-space: nowrap;
	color: black;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	direction: ltr;
}

select {
	height: 22px;
	width: 54px;
	font-size: 13px;
	font: sans-serif;
	margin-top: 3px;
}

.time {
	font-family: sans-serif;
	font-size: 15px;
}

form {
	width: 70%;
}


#canned {
	float:right;
	width: 25%;
	padding: 10px;
	
}

#canned_messages {
	width:100%;
}
#canned_messages .hidden{
	display:none;
}

.canned_row {
	width: 100%;
}

.canned_row:hover {
  background-color: #C3C3C3;
	cursor: pointer;
}